.i-btn {
  margin: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  // sep
  border: 1px solid #eeeeee;
  border-radius: 40px;
  font-size: 2.5vw;
  padding: 1vw 4vw;
  transition: 0.8s;
  overflow: hidden;
  .i-btn-icon {
    width: 50%;
    margin: 0 1vw;
  }
  &:hover {
    box-shadow: 0px 10px 48px -12px rgba(0, 0, 0, 0.75);
  }
}

// Cal
.mini-calendar-container {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  border: 1px solid #eee;
  border-radius: 40px;
  .mini-calendar-date-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 3%;
    .mini-calendar-date {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1vw;
      padding: 1vw;
      width: 2%;
      font-size: 1vw;
      background-color: red;
    }
  }
}
